# vim:ft=systemd:

[Unit]
Description=Clean kmod-load symlinks

[Service]
Type=oneshot

ExecStart=/usr/lib/systemd/scripts/kmod-load-cleanup

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
ProcSubset=pid
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

PrivateDevices=true
PrivateIPC=true
PrivateMounts=true
PrivateNetwork=true
PrivateTmp=true

ProtectClock=true
ProtectControlGroups=true
ProtectHome=tmpfs
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict

ReadWritePaths=/usr/lib/modules

[Install]
WantedBy=default.target
